
.navbar-brand {
font-weight: bold;
color: #fcb900 !important;
}

.btn-checkin {
background-color: #fcb900;
color: black;
border-radius: 20px;
padding: 6px 16px;
}

.a {
background-image: radial-gradient(circle, rgb(255, 153, 0) 39%, rgb(5, 105, 89) 96%);
background-size: 1000px 25px;
height: 10vh;
}
