#Para que index.php capture todo desde la raíz#
#Se enviará cualquier URL a index.php y estará disponible en $_GET['url'].

<IfModule mod_rewrite.c>
Options -Multiviews
RewriteEngine on
RewriteBase /mvc_cementerio/public
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>


